<div class="news-feed feed-snipit">
	{% for post in site.posts limit:3 %}
		{% if post.categories contains 'post' %}
			<article class="news-feed__post">
					<a href="{{post.url}}" title="{{ post.title }}" class="news-feed__anchor">
							<h3 class="heading news-feed__title">{{ post.title }}</h3>
							<p class="news-feed__date">{{ post.date | date: '%B %d, %Y' }}</p>
					</a>
				</article>
		{% endif %}
		{% if post.categories contains 'external' %}
			<article class="news-feed__post">
					<a href="{{post.link}}" title="{{ post.title }}" target="_blank" class="news-feed__anchor">
							<h3 class="heading news-feed__title">{{ post.title }}</h3>
							<p class="news-feed__date">{{ post.date | date: '%B %d, %Y' }}</p>
					</a>
			 </article>
		{% endif %}
	{% endfor %}
</div>
