<div class="news-feed feed-snipit">
	<h2>Latest blog posts</h2>
	{% for post in site.posts limit:3 %}
		{% if post.categories contains 'post' %}
			<article class="news-feed__post">
					<a href="{{post.url}}" title="{{ post.title }}" class="news-feed__anchor">
							<h3 class="heading news-feed__title"><span class="visually-hidden">Article title</span> {{ post.title }}</h3>
							<p class="news-feed__date"><span class="visually-hidden">Published on</span> {{ post.date | date: '%B %d, %Y' }}</p>
					</a>
				</article>
		{% endif %}
		{% if post.categories contains 'external' %}
			<article class="news-feed__post">
					<a href="{{post.link}}" title="{{ post.title }}" target="_blank" class="news-feed__anchor">
							<h3 class="heading news-feed__title"><span class="visually-hidden">Article title</span> {{ post.title }}</h3>
							<p class="news-feed__date"><span class="visually-hidden">Published on</span> {{ post.date | date: '%B %d, %Y' }}</p>
					</a>
			 </article>
		{% endif %}
	{% endfor %}
</div>
