 <div id="latest-tweets"></div>

  <footer class="footer">
  	<ul class="footer-links">
  		<li class="footer-links__item"><a href="/" class="footer-links__anchor" title="Home" >Home</a></li>
  		<li class="footer-links__item"><a href="work-history.html" class="footer-links__anchor" title="Work history" >Work history</a></li>
  		<li class="footer-links__item"><a href="blog.html" class="footer-links__anchor" title="Blog" >Blog</a></li>
  		<li class="footer-links__item"><a href="http://www.dutton-design.me.uk/" class="footer-links__anchor" title="Portfolio" target="_blank">Portfolio</a></li>
  		<li class="footer-links__item"><a href="http://get-maze.co.uk/" class="footer-links__anchor" title="Maze - responsive grid" target="_blank">Maze</a></li>
  	</ul>
  	{% include find-me.html %}
  	<p class="footer__copyright">Copyright 2015 Cathy Dutton - All Rights Reserved. Powered by <a href="http://get-maze.co.uk/" target="_blank">Maze</a></p>
  </footer>

</div>
<!-- Script includes -->
<script src="/assets/js/main-@@cacheBust.min.js"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</body>
</html>
