<footer class="footer">
  	<ul class="footer-links">
  		<li class="footer-links__item">
        {% if page.active == "Home" %}
        <a href="../index.html" aria-describedby="current" class="footer-links__anchor active" title="Back to the home page" >Home</a>
          {% else %}
          <a href="../index.html" class="footer-links__anchor" title="Back to the home page" >Home</a>
          {% endif %}
      </li>
        <li class="footer-links__item">
        {% if page.active == "Portfolio" %}
        <a href="../portfolio.html" aria-describedby="current" title="View blog page" class="footer-links__anchor active"><span class="navagation-text">Portfolio</span></a>
          {% else %}
          <a href="../portfolio.html" title="View blog page" class="footer-links__anchor"><span class="navagation-text">Portfolio</span></a>
          {% endif %}
      </li> 
  		<li class="footer-links__item">
        {% if page.active == "Work history" %}
        <a href="../work-history.html" aria-describedby="current" class="footer-links__anchor active" title="View work history page" >Work history</a>
          {% else %}
          <a href="../work-history.html" class="footer-links__anchor" title="View work history page" >Work history</a>
          {% endif %}
      </li>
  		<li class="footer-links__item">
          {% if page.active == "Blog" %}
        <a href="../blog.html" aria-describedby="current" class="footer-links__anchor active" title="View blog page" >Blog</a>
          {% else %}
          <a href="../blog.html" class="footer-links__anchor" title="View blog page" >Blog</a>
          {% endif %}
      </li>
      <li class="footer-links__item">
        {% if page.active == "PostCSS Maze" %}
        <a href="../maze.html" aria-describedby="current" class="footer-links__anchor active" title="Maze - PostCSS responsive grid">PostCSS Maze</a>
          {% else %}
          <a href="../maze.html" class="footer-links__anchor" title="Maze - PostCSS responsive grid">PostCSS Maze</a>
          {% endif %}
      </li>
  	</ul>
  	{% include find-me.html %}
  	<p class="footer__copyright">Copyright 2017 Cathy Dutton - All Rights Reserved. <a href="https://github.com/cathydutton/postcss-maze" title="Maze - responsive grid">Powered by PostCSS Maze</a></p>
  </footer>
<!-- End Wrapper -->
</div>
<!-- Script includes -->
<!-- <script src="../assets/js/main-@@cacheBust.min.js"></script> -->

<script>
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//get-maze.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>



</body>
</html>
