<div class="share-page">
    <h3>Share this post</h3>
    <p>Share this on this post on Twitter, Facebook or Google</p>
    <button href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via=cathy_dutton&related=cathy_dutton" rel="external" target="_blank" class="share-page__anchor share-page__twitter" title="Share on Twitter"><span class="visually-hidden">Share on </span>Twitter</button>
    <button href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" class="share-page__anchor share-page__facebook" rel="external" target="_blank" title="Share on Facebook"><span class="visually-hidden">Share on </span>Facebook</button>
    <button href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" class="share-page__anchor share-page__google" rel="external" target="_blank" title="Share on Google+"><span class="visually-hidden">Share on </span>Google+</button>
</div>
