  <aside class="sidebar sidebar--closed">
    <div class="profile-image">
      <img src="assets/img/profile-image.jpg" class="profile-image__img" width="160" height="160" title="Cathy Dutton profile" alt="Profile image" />
    </div>
    <p class="profile-description">Front end developer &amp; designer, CSS enthusiast, avid list writer and PostCSS fan.</p>
    {% include find-me.html %}
    <ul class="sidebar__list">
      <li class="sidebar__item">
        <a href="index.html"  title="Go home" class="sidebar__anchor" tabindex="-1">Home</a>
      </li>
       <li class="sidebar__item">
        <a href="work-history.html" title="View work history page" class="sidebar__anchor" tabindex="-1">Work history</a>
      </li>
       <li class="sidebar__item">
        <a href="blog.html" title="View blog page" class="sidebar__anchor" tabindex="-1">Blog</a>
      </li>
       <li class="sidebar__item">
        <a href="portfolio.html" title="View porftolio site" class="sidebar__anchor" tabindex="-1">Portfolio</a>
      </li>
      <li class="sidebar__item">
       <a href="maze.html" title="Maze - responsive grid" class="sidebar__anchor" tabindex="-1">Maze</a>
     </li>
    </ul>
  </aside>
<div class="wrapper lightbox--closed">
