  <aside class="sidebar">
    <div class="profile-image">
      <img src="../assets/img/profile-image.jpg" class="profile-image__img" width="160" height="160" alt="Profile picture - Cathy Dutton" />
    </div>
    <p class="profile-description">Interaction &amp; Service Designer, Front End Developer, CSS enthusiast and PostCSS fan</p>
    {% include find-me.html %}
    <ul class="sidebar__list">
          {% if page.active == "Home" %}
          <li class="sidebar__item">
            <a href="../index.html"  aria-describedby="current" title="Go home" class="sidebar__anchor active"><span class="navagation-text">Home</span></a>
          </li>
          {% else %}
          <li class="sidebar__item">
            <a href="../index.html"  title="Go home" class="sidebar__anchor"><span class="navagation-text">Home</span></a>
          </li>
          {% endif %}
          {% if page.active == "Work history" %}
          <li class="sidebar__item">
           <a href="../work-history.html" aria-describedby="current" title="View work history page" class="sidebar__anchor active"><span class="navagation-text">Work history</span></a>
         </li>
          {% else %}
          <li class="sidebar__item">
           <a href="../work-history.html" title="View work history page" class="sidebar__anchor"><span class="navagation-text">Work history</span></a>
         </li>
          {% endif %}
          {% if page.active == "Blog" %}
          <li class="sidebar__item">
           <a href="../blog.html" aria-describedby="current" title="View blog page" class="sidebar__anchor active"><span class="navagation-text">Blog</span></a>
         </li>
          {% else %}
          <li class="sidebar__item">
           <a href="../blog.html" title="View blog page" class="sidebar__anchor"><span class="navagation-text">Blog</span></a>
         </li>
          {% endif %}
          {% if page.active == "Portfolio" %}
          <li class="sidebar__item">
           <a href="../portfolio.html" aria-describedby="current" title="View blog page" class="sidebar__anchor active"><span class="navagation-text">Portfolio</span></a>
         </li>
          {% else %} 
          <li class="sidebar__item">
           <a href="../portfolio.html" title="View blog page" class="sidebar__anchor"><span class="navagation-text">Portfolio</span></a>
         </li>
          {% endif %}
          {% if page.active == "PostCSS Maze" %}
          <li class="sidebar__item">
           <a href="../maze.html" aria-describedby="current" title="Maze - PostCSS responsive grid" class="sidebar__anchor active"><span class="navagation-text">PostCSS Maze</span></a>
         </li>
          {% else %}
          <li class="sidebar__item">
           <a href="../maze.html" title="Maze - PostCSS responsive grid" class="sidebar__anchor"><span class="navagation-text">PostCSS Maze</span></a>
         </li>
          {% endif %}
      </ul>
  </aside>
