<div class="wrapper">
  <aside class="sidebar sidebar--closed">
    <div class="profile-image">
      <img src="/assets/img/profile-image.jpg" title="Cathy Dutton profile" alt="Cathy Dutton" />
    </div>
    <p class="profile-desc">UX developer &amp; designer, CSS enthusiast, avid list writer and PostCSS fan.</p>
    {% include find-me.html %}
    <ul class="sidebar__list">
      <li class="sidebar__item">
        <a href="/"  title="Home" class="sidebar__anchor" tabindex="-1">Home</a>
      </li>
       <li class="sidebar__item">
        <a href="work-history.html" title="Work history" class="sidebar__anchor" tabindex="-1">Work history</a>
      </li>
       <li class="sidebar__item">
        <a href="blog.html" title="Blog" class="sidebar__anchor" tabindex="-1">Blog</a>
      </li>
       <li class="sidebar__item">
        <a href="http://www.dutton-design.me.uk/" title="Porftolio" class="sidebar__anchor" target="_blank" tabindex="-1">Portfolio</a>
      </li>
      <li class="sidebar__item">
       <a href="http://get-maze.co.uk/" title="Maze - responsive grid" target="_blank" class="sidebar__anchor" tabindex="-1">Maze</a>
     </li>
    </ul>
  </aside>
