/*
  Grid
  ----------------------------------- */

@mixin grid($breakpoint, $grid-coloumn-span, $grid-total-coloumns, $grid-margin: 1%, $margin-overide: false) {
  $value: map-get($breakpoints, $breakpoint);
  $unit: $grid-total-coloumns / $grid-coloumn-span;
  transition: all .3s ease-in-out;

  @if $value != 280px {

    @media only screen and (min-width:$value) {
      float: left;
      width: (100% - (($unit - 1) * $grid-margin)) / $unit;

      &:nth-child(n) {
        margin-right: $grid-margin;
      }

      &:nth-child(#{$grid-total-coloumns}n) {
        margin-right: 0;
      }

      @if $margin-overide == true {

        &:nth-child(n) {
          margin-right: 0;
        }

        &:nth-child(#{$grid-total-coloumns}n) {
          margin-right: $grid-margin;
        }

      }

    }

  } @else {
      float: left;
      width: (100 - (($unit - 1) * $grid-margin)) / $unit;

      &:nth-child(n) {
        margin-right: $grid-margin;
      }

      &:nth-child(#{$grid-total-coloumns}n) {
        margin-right: 0;
      }

      @if $margin-overide == true {

        &:nth-child(n) {
          margin-right: 0;
        }

        &:nth-child(#{$grid-total-coloumns}n) {
          margin-right: $grid-margin;
        }

      }

    }

  }
