/*
  Generic
  ----------------------------------- */

html,
body,
button,
input,
select,
textarea {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: map-get($colours, 'black');
  margin: 0;
  max-width: map-get($breakpoints, 'break-wide');
  min-width: map-get($breakpoints, 'break-mobile');
  padding: 0;
}

blockquote {
  background: map-get($colours, 'off-white');
  border: 1px solid darken(map-get($colours, 'off-white'), 10%);
  font-size: 1em;
  margin: 0;
  padding: 10px 15px;
  text-align: center;
}

pre {
  background: map-get($colours, 'off-white');
  border: 1px solid lighten(map-get($colours, 'accent'), 20%);
  font-size: 1em;
  overflow: scroll;
  padding: 10px 7px;
}
