/*
    Base
    ----------------------------------- */

// ANCHORS
a {
  border-bottom: 1px solid currentColor;
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  color: map-get($colours, 'accent');
  transition: all .3s ease-in-out;
}

// SELECT
::selection {
  background: lighten(map-get($colours, 'accent'), 25%);
}

// IMGAES
img {
  image-rendering: auto;
}

// SVG
svg {
  width: 100%;
  height: 100%;
}

.svg__text {
  display: none;
}

// LISTS
ul {
  @include clearfix;
  margin: 0 0 0 12px;
  padding: 0;
}

// TYPOGRAPHY
em {
  font-style: italic;
}
