/*
    Base Typography
    ----------------------------------- */

html {
  font-family: map-get($font-stack, 'general');
  font-weight: 300;
  line-height: $line-height;
}

h1,
h2,
h3,
h4,
.heading {
  font-weight: 300;
  text-transform: uppercase;
}

.intro-heading {
  @include typography(62px);
  color: map-get($colours, 'accent');
  font-family: map-get($font-stack, 'decorative');
  line-height: 1;
  margin: 0 0 10px;
}

h1,
.heading--primary {
  @include typography(2em);
  line-height: 1;
  margin: 0;
}

h2,
.heading--secondary {
  @include typography(1.5em);
}

h3,
.heading--tertiary {
  @include typography(1.17em);
}

h4 {
  font-size: 1.17em;
}

i {
  color: map-get($colours, 'accent');
}
