/*
    Base Typography
    ----------------------------------- */

html {
  font-family: map-get($font-stack, 'general');
  font-weight: 300;
  line-height: $line-height;
}

@mixin typography($size) {
  font-size: $size;

  @include mq(break-desktop) {
    font-size: $size * 1.3;
  }

}

.heading {
  font-weight: 300;
  text-transform: uppercase;
}

.intro-heading--large {
  @include typography(62px);
  color: map-get($colours, 'accent');
  font-family: map-get($font-stack, 'decorative');
  line-height: 1;
  margin: 0 0 10px;
}

.intro-heading--small {
  @include typography(46px);
  color: map-get($colours, 'accent');
  font-family: map-get($font-stack, 'decorative');
  line-height: 1.3;
  margin: 0;
}

h1,
.heading--primary {
  @include typography(2em);
  line-height: 1;
  margin: 0;
}

h2,
.heading--secondary {
  @include typography(1.5em);
}

h3,
.heading--tertiary {
  @include typography(1.17em);
}

h4 {
  font-size: 1.17em;
}
