/*
    Base Typography
    ----------------------------------- */

html {
  font-weight: 300;
  font-family: map-get($font-stack, 'general');
  line-height: $line-height;
}

h1,
h2,
h3,
h4,
.heading {
  font-weight: 300;
  text-transform: uppercase;
}

.heading__intro {
  @include typography(2.4em);
  display: block;
  margin: 0 0 10px;
  color: map-get($colours, 'accent');
  font-weight: bold;
  font-family: map-get($font-stack, 'decorative');
  letter-spacing: 0;
  line-height: 1;
}

h1,
.heading--primary {
  @include typography(1.6em);
  margin: 0;
  line-height: 1;
}

h2,
.heading--secondary {
  @include typography(1.5em);
}

h3,
.heading--tertiary {
  @include typography(1.17em);
}

h4 {
  font-size: 1.17em;
}

.accent {
  color: map-get($colours, 'accent');
}
