/*
  Layout
  ----------------------------------- */

.wrapper {
  animation: fadeIn 2s forwards;
  background: map-get($colours, 'white');
  margin-left: 28px;
  min-height: 100%;
  position: relative;
  width: 95%;
}

header,
footer,
section {
  @include clearfix;
  padding: 2% 5% 0;
  width: 90%;
}

.sidebar {
  background: map-get($colours, 'grey-dark');
  border-right: solid 3px map-get($colours, 'accent');
  bottom: 0;
  height: 100%;
  left: -260px;
  outline: none;
  overflow: auto;
  padding: 20px 15px;
  position: fixed;
  transition: all .3s ease-in-out;
  width: 270px;
  z-index: 2;
}

.sidebar--open {
  left: 0;
}

.sidebar--open ~ .wrapper {

  &:before {
    background: map-get($colours, 'black');
    content: '';
    height: 100%;
    opacity: .6;
    overflow: auto;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

}

.adsbygoogle {
  margin: 0 auto;
  max-width: 900px;
}
