/*
    Footer Twitter
    ----------------------------------- */

.latest-tweets {
  @include clearfix;
  margin-left: 0;

  @include mq(break-tablet) {
    @supports (display: flex) {
      display: flex;
    }
  }

}

.latest-tweets__tweet {
  @include grid(break-mobile, 1, 1);
  @include grid(break-tablet, 1, 2);
  background: map-get($colours, 'accent');
  color: map-get($colours, 'grey-dark');
  float: none;
  list-style: none;
  margin-top: 1.8em;
  min-height: 100px;
  padding: .2em .6em 4em;
  position: relative;
  text-align: left;

  &:after {
    border-color: map-get($colours, 'accent') transparent transparent;
    border-style: solid;
    border-width: 10px;
    bottom: -19px;
    content: '';
    display: block;
    height: 0;
    left: 1em;
    position: absolute;
    width: 0;
  }

  a:hover,
  a:focus {
    color: map-get($colours, 'white');
  }

}

.latest-tweets__text {
  word-wrap: break-word;
}

.latest-tweets__time {
  bottom: 10px;
  font-style: italic;
  position: absolute;
}
