/*
Sidebar
----------------------------------- */

.sidebar {
  background: map-get($colours, 'grey-dark');
  border-right: solid 3px map-get($colours, 'accent');
  bottom: 0;
  height: 100%;
  left: 0;
  outline: none;
  overflow: scroll;
  padding: 20px 15px;
  position: fixed;
  left: -250px;
  width: 260px;
  transition: all .3s ease-in-out;
  z-index: 1;
}

.sidebar--open  {
  left: 0;
}

.sidebar--open ~ .wrapper {

  &:before {
    background: map-get($colours, 'black');
    content: '';
    height: 100%;
    opacity: .6;
    overflow: auto;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

}

.profile-image {
  width: 180px;
  height: 180px;
  border: solid 1px lighten(map-get($colours, 'grey-dark'), 15%);
  border-radius: 100%;
  margin: 20px;

  img {
    width: 180px;
    height: 180px;
    clip-path: circle(81px at 89px 89px);
  }

}

.profile-desc {
  border-bottom: solid 1px lighten(map-get($colours, 'grey-dark'), 5%);
  border-top: solid 1px lighten(map-get($colours, 'grey-dark'), 5%);
  color: map-get($colours, 'grey-light');
  margin-top: 0;
  padding: 10px 0;
  text-align: center;
}

.find-me {
  @include clearfix;
  list-style: none;
  margin: 30px 0 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.find-me__item {
  display: inline-block;
}

.find-me__anchor {
  border: 0;
  color: map-get($colours, 'accent');
  display: block;
  fill: map-get($colours, 'accent');
  height: 46px;
  margin: 0 5px;
  position: relative;
  width: 46px;

  &:hover,
  &:focus {
    background: map-get($colours, 'accent');
    border-radius: 100%;
    color: map-get($colours, 'grey-dark');
    fill: map-get($colours, 'grey-dark');
    transform: scale(1.25);
    transition: background-color .5s, transform .5s ease-out;
  }

}
