/*
Code highlight
----------------------------------- */

.highlight {
  white-space: pre-line;
  word-break: break-word;
}

.highlighter-rouge {
  overflow: scroll;
  width: 100%;
  word-wrap: break-word;
}
