/*
Pagination
----------------------------------- */

.page-navigation {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

.button--page-navigation__prev,
.button--page-navigation__next {
  @include button (map-get($colours, 'accent'));
}

.button--page-navigation__prev {
  float: left;
  padding: 0;
}

.button--page-navigation__next {
  float: right;
  margin-left: 10px;
  padding: 0;
}

.button--page-navigation__anchor {
  border-bottom: 0;
  display: block;
  padding: 10px 20px 7px;
}

.button--page-navigation__svg {
  fill: map-get($colours, 'white');
  height: 16px;
  width: 20px;
}
