/*
Social Share
----------------------------------- */

.share-page__anchor {
  display: block;
  margin: 5px 0;

  @include mq(break-phablet) {
    float: left;
    margin-right: 10px;
  }

  &:hover {
    color: map-get($colours, 'white');
  }

}

.share-page__twitter {
  @include button (#4099FF);
}

.share-page__facebook {
  @include button (#3B5998);
}

.share-page__google {
  @include button (	#008744);
}
