/*
    404
    ----------------------------------- */

.page--404 {
  background: map-get($colours, 'accent');
  color: map-get($colours, 'white');
  display: table;
  height: 100vh;

  .button--menu {
    display: none;
  }

  .heading {
    color: map-get($colours, 'grey-dark');
  }

  .intro-heading--large {
    color: map-get($colours, 'white');
  }

}

.wrapper--404 {
  display: table-cell;
  vertical-align: middle;
}
