/*
Image gallery
----------------------------------- */

.portfolio-gallery {
  @include grid(break-mobile, 1, 2);
  @include grid(break-tablet, 1, 3);
  margin-bottom: 10px;
}


// GALLETY
.wrapper.lightbox {

  &:before {
    position: absolute;
    z-index: 1;
    overflow: auto;
    width: 100%;
    height: 100%;
    content: '';
    background: map-get($colours, 'black');
    opacity: .6;
  }

}

.image-wrapper--portfolio {
  border: solid 1px map-get($colours, 'grey-light');
  animation: fadeIn 2s forwards;

  &:hover,
  &:focus {
    border-color: map-get($colours, 'accent');
    box-shadow: 3px;
  }

}

.pop {
  position: absolute;
  top: 10%;
  left: 15%;
  z-index: 1002;
  display: none;
  width: 70%;
  background: map-get($colours, 'white');
  text-align: center;
}

#pop-image {
  overflow: auto;
  height: 500px;
}

#pop-image-img {
  overflow: auto;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: map-get($colours, 'white');
}

#pop-text {
  width: 100%;
  margin: 0 auto;
  padding: 20px 10px;
  background: map-get($colours, 'white');
}


#prev,
#next {
  position: absolute;
  width: 50%;
  height: 100%;
  border: 0;
  background: transparent;
  cursor: pointer;

  &:hover {
    background: map-get($colours, 'white');
    opacity: .60;
    transition: all .2s ease-in-out;

    &::after {
      position: absolute;
      top: 30%;
      color: map-get($colours, 'black');
      font-size: 6em;
    }

  }

}

#prev {
  left: 0;
}

#next {
  right: 0;
}

#close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 0;
  background: map-get($colours, 'grey-dark');
  cursor: pointer;

  &:hover {
    background: map-get($colours, 'accent');
    transition: all .3s ease-in-out;
  }

}

#black_overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
  display: none;
  width: 100%;
  height: 100%;
  background-color: map-get($colours, 'black');
  opacity: .80;
  cursor: pointer;
}
