/*
Sidebar
----------------------------------- */

.sidebar {
  // animation: fadeIn 3s forwards;
  background: map-get($colours, 'grey-dark');
  bottom: 0;
  height: 100%;
  left: 0;
  outline: none;
  overflow: scroll;
  padding: 20px 15px;
  position: fixed;
  right: 0;
  top: 0;
  width: 260px;
  z-index: 0;
}

// MOVE TO GENERAL WRAPPER BLACKED OUT SECTION TO INCLUDE GALLERY

.sidebar--open ~ #wrapper {
  left: 260px;
  overflow-x: hidden;
  position: fixed;

  @include mq(break-desktop) {
    position: relative;
    width: 80%;
  }

}

.wrapper--deactive {

  &:before {
    background: map-get($colours, 'black');
    content: '';
    height: 100%;
    opacity: .6;
    overflow: auto;
    position: absolute;
    width: 100%;
    z-index: 1;

    @include mq(break-desktop) {
      opacity: 0;
    }

  }

}

.profile-image {
  width: 180px;
  height: 180px;
  border: dashed 1px map-get($colours, 'grey-light');
  border-radius: 100%;
  margin: 20px;

  img {
    width: 180px;
    height: 180px;
    clip-path: circle(81px at 88px 88px);
  }

}



.profile-desc {
  border-bottom: solid 1px lighten(map-get($colours, 'grey-dark'), 5%);
  border-top: solid 1px lighten(map-get($colours, 'grey-dark'), 5%);
  color: map-get($colours, 'grey-light');
  margin-top: 0;
  padding: 10px 0;
  text-align: center;
}

.find-me {
  @include clearfix;
  list-style: none;
  margin-top: 30px;
  padding: 0;
  text-align: center;
  width: 100%;
}

.find-me__item {
  display: inline-block;
}

.find-me__anchor {
  border: 0;
  color: map-get($colours, 'accent');
  display: block;
  fill: map-get($colours, 'accent');
  height: 46px;
  margin: 0 5px;
  position: relative;
  width: 46px;

  &:hover,
  &:focus {
    background: map-get($colours, 'accent');
    border-radius: 100%;
    color: map-get($colours, 'grey-dark');
    fill: map-get($colours, 'grey-dark');
    transform: scale(1.25);
    transition: background-color .5s, transform .5s ease-out;
  }

}
