{% include head.html %}
{% include sidebar.html %}
<div class="content">
<main id="main">
<header role="banner" class="header">
  <h1 class="heading"><span class="heading__intro">{{ page.intro }}</span>{{ page.heading }}</h1>
</header>
  {{ content }}
</main>
{% include footer.html %}
</div>
<!-- Script includes -->
<script src="../assets/js/main.min.js"></script>
 <!-- Cookie banner JS -->
  <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({})});
  </script>
<!-- <script>
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//cathyduttoncouk.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
 -->
<!-- <script id="dsq-count-scr" src="//cathydutton.disqus.com/count.js" async></script> -->

<!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
<!-- New blog -->
<!-- <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5080086399779144"
     data-ad-slot="8794319910"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script> -->

<script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('/serviceWorker.js').then(function(registration) {
        }).catch(function(err) {
        });
      });
    }
</script>

</body>
</html>
