{% include head.html %}
{% include sidebar.html %}
<div class="content">
<main id="main">
<header role="banner" class="header">
  <h1 class="heading"><span class="heading__intro">{{ page.intro }}</span>{{ page.heading }}</h1>
</header>
  {{ content }}
</main>
<div class="content-wrapper">
  <section>
    <div id="disqus_thread"></div>
  </section>
</div>
{% include footer.html %}
</div>
<!-- Script includes -->
<!-- <script src="../assets/js/main-@@cacheBust.min.js"></script> -->

<script>
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//get-maze.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>

<script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('/serviceWorker.js').then(function(registration) {
        }).catch(function(err) {
        });
      });
    }
</script>

</body>
</html>
