---
disqus: true
comments: true
archive: false
---

{% include head.html %}
{% include sidebar.html %}
<div class="content">
<main id="main">
<header role="banner" class="header">
  <h1 class="heading heading__intro">{{page.title}}</h1>
  <p class="heading heading--primary">{{ page.date | date_to_string }}</p>
</header>


  {{ content }}

<section>
  {% include share-page.html %}
</section>

<section>
  {% include pagination.html %}
</section>

<section>
  <div id="disqus_thread"></div>
</section>
</main>

{% include footer.html %}
</div>
