--- 
disqus: true comments: true archive: false 
--- 


{% include head.html %} {% include sidebar.html %}
<div class="content">
  <main id="main">
    <header role="banner" class="header">
      <h1 class="heading heading__intro">{{page.title}}</h1>
      <p class="heading heading--primary">{{ page.date | date_to_string }}</p>
    </header>


    {{ content }}

    <section>
      {% include share-page.html %}
    </section>

    <section>
      {% include pagination.html %}
    </section>

    <section>
      <div id="disqus_thread"></div>
    </section>
  </main>

  {% include footer.html %}
</div>
<!-- Script includes -->
<!-- <script src="../assets/js/main-@@cacheBust.min.js"></script> -->

<script>
  (function () { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//cathyduttoncouk.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();

</script>

<!-- <script id="dsq-count-scr" src="//cathydutton.disqus.com/count.js" async></script> -->

<!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
<!-- New blog -->
<!-- <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5080086399779144"
     data-ad-slot="8794319910"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script> -->
</body>

</html>