/*
  Generic
  ----------------------------------- */

html,
body,
button,
input,
select,
textarea {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  @include clearfix;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-width: map-get($breakpoints, 'break-mobile');
  max-width: map-get($breakpoints, 'break-wide');
  margin: 0;
  padding: 0;
  color: map-get($colours, 'black');
}

blockquote {
  margin: 0;
  padding: 15px;
  border: 1px solid darken(map-get($colours, 'off-white'), 10%);
  background: map-get($colours, 'off-white');
  font-size: 1em;
}

pre {
  overflow: scroll;
  padding: 10px 7px;
  border: 1px solid darken(map-get($colours, 'off-white'), 20%);
  background: map-get($colours, 'off-white');
  font-size: 1em;
}


table, 
th, 
td {
  border: 1px solid #000;
  border-collapse: collapse;
}

th, 
td {
  padding: 5px;
  text-align: left;
}