/*
    Base
    ----------------------------------- */

// ANCHORS
a {
  border-bottom: 1px solid currentColor;
  color: inherit;
  text-decoration: none;
  padding: .2em;
}

a:hover {
  //color: map-get($colours, 'accent');
  background-color: map-get($colours, 'sky-blue');
  outline: 3px solid map-get($colours, 'sky-blue');
  transition: all .3s ease-in-out;
}

a:focus {
  background-color: #ccf2ff;
  outline: 3px solid #ccf2ff;
  transition: all .3s ease-in-out;
}

 a[target=_blank]::after {
    display: inline-block;
    width: 0;
    height: 0;
    content: '(opens new window)';
    overflow: hidden;
    white-space: nowrap;
    text-indent: 1em;
    margin-left: 6px;
}



// SELECT
::selection {
  background: lighten(map-get($colours, 'accent'), 25%);
}

// IMGAES
img {
  image-rendering: auto;
}

// SVG
svg {
  width: 100%;
  height: 100%;
}

// LISTS
ul {
  @include clearfix;
  margin: 0 0 0 12px;
  padding: 0;
}

// TYPOGRAPHY
em {
  font-style: italic;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}
