/*
  Layout
  ----------------------------------- */

.wrapper {
  height: 100%;
  position: relative;
}

.sidebar {

  @include mq(break-tablet) {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 270px;
  }

}

footer,
main,
.feed-snipit {
  @include clearfix;
  padding: 2% 5% 0;
  animation: fadeIn 2s forwards;
  @include mq(break-tablet) {
    margin-left: 270px;
  }
}
