/*
  Layout
  ----------------------------------- */

.wrapper {
  @include mq(break-tablet) {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
    min-height: 100vh;
  }
}

.sidebar {

  @include mq(break-tablet) {
    width: 270px;
    -ms-flex: 0 100px;
    -webkit-box-flex:  0;
    -moz-box-flex:  0;
    -ms-box-flex:  0;
    box-flex:  0;
  }

}

.content {
  animation: fadeIn 2s forwards;
  padding: 2%;

  @include mq(break-tablet) {
   -ms-flex: 1;
   -webkit-box-flex: 1;
   -moz-box-flex: 1;
   -ms-box-flex: 1;
   box-flex: 1;
  }

}

section,
footer {
  @include clearfix;
  padding: 2% 0;
}
