/*
  Layout
  ----------------------------------- */

.wrapper {
  @include clearfix;
  width: 100%;
  max-width: 1180px;
  min-width: 260px;
}

.sidebar {

  @include mq(break-tablet) {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 270px;
    margin-bottom: -4000px;
    padding-bottom: 4000px;
  }

}

.content {
  @include clearfix;
  animation: fadeIn 2s forwards;
  padding: 2%;
  @include mq(break-tablet) {
    margin-left: 300px;
    float: left;
    height: 100%;
  }

}

section,
footer {
  @include clearfix;
  padding: 2% 0;
}
