/*
    Button
    ----------------------------------- */

%button {
  display: block;
  margin: 5px 0;
  padding: .5em .8em .3em;
  border: 0;
  color: map-get($colours, 'white');
  font-size: 100%;
  line-height: 2.2;
  box-shadow: 0;
  cursor: pointer;

  @include mq(break-phablet) {
    float: left;
    margin-right: 10px;
  }

}

@mixin  button($button-background) {
  @extend %button;
  background-color: $button-background;
  border: solid 1px map-get($colours, 'accent');

  &:hover,
  &:focus {
    color: map-get($colours, 'accent');
    background-color: map-get($colours, 'white');
    transition: all .3s ease-in-out;
  }

}

button,
.button {
  @include button (map-get($colours, 'accent'));
}
