/*
    Footer
    ----------------------------------- */

.footer {
  text-align: center;
}

.footer-links {
  @include clearfix;
  margin: 1.5em auto;
  padding: 0;
  list-style: none;
}

.footer-links__item {
  display: inline-block;
  margin: .4em;
  // text-transform: uppercase;
}

.footer-links__anchor {
  padding: .4em;
}

.footer-links__item .active {
  border-bottom: 4px solid map-get($colours, 'accent');
}
