/*
Portfolio
----------------------------------- */

.portfolio-piece-wrapper {
  @include grid(break-mobile, 1, 1);
  @include grid(break-tablet, 1, 2);
}

.portfolio-piece__img {
  width: 100%;
  border: solid 1px #ccc7c3;
  padding: 5px;
  background: url(/assets/img/placeholder.png) center center no-repeat #e3e1df;
  width: 100%;
}


