/*
Images
----------------------------------- */

.image-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-bottom: 63%;
  background: url('/assets/img/placeholder.png') center center no-repeat lighten(map-get($colours, 'grey-light'), 20%);
}

.image-wrapper__image {
  position: absolute;
  width: 100%;
}
