/*
Image gallery
----------------------------------- */

.portfolio-list__item {
  @include grid(break-mobile, 1, 2);
  @include grid(break-desktop, 1, 3);
  list-style: none;
}


.portfolio-gallery--thumbnail {
  // @include grid(break-mobile, 1, 1);
  // @include grid(break-phablet, 1, 2);
  // @include grid(break-tablet, 1, 3);
  // @include grid(break-desktop, 1, 4);
  margin-bottom: 10px;
  padding: 5px;
  border: solid 1px lighten(map-get($colours, 'accent'), 20%);
  background: lighten(map-get($colours, 'accent'), 30%);

  // &:hover,
  // &:focus {
  //   border-color: map-get($colours, 'accent');
  //   box-shadow: 3px;
  // }

}

.image-wrapper--portfolio {
  border: solid 1px lighten(map-get($colours, 'accent'), 30%);
  animation: fadeIn 2s forwards;
}
