/*
Image gallery
----------------------------------- */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list__item {
  list-style: none;
  padding: 0 10px;
  display: table-cell;
  display: flex;
  padding: 0.5em;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

@media all and (min-width: 30em) {
  .portfolio-list__item {
    width: 50%;
  }
}
@media all and (min-width: 70em) {
  .portfolio-list__item {
    width: 33.33%;
  }
}

.portfolio-gallery--thumbnail {
  margin-bottom: 10px;

  img {
    height: 100%;
    padding: 5px;
  }

}

.image-wrapper--portfolio {
  border: solid 1px map-get($colours, 'grey-light');

  &:hover,
  &:focus {
    border-color: map-get($colours, 'accent');
  }

}

.portfolio-list__item--content {
   display: flex;
   flex-direction: column;
   padding: 1em;
   width: 100%;
}

.portfolio-list__anchor {
  position: absolute;
  bottom: 0;
}
