/*
Navigation
----------------------------------- */

.sidebar {
  margin-bottom: 10px;
  padding: .8em .4em;
  border-bottom: solid 3px map-get($colours, 'accent');
  background: map-get($colours, 'grey-dark');

  @include mq(break-tablet) {
    border-right: solid 3px map-get($colours, 'accent');
    border-bottom: 0;
  }

}

.sidebar__list {
  margin: .4em;
  text-align: center;
  animation: fadeIn 2s forwards;

  @include mq(break-tablet) {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 10px 0 0;
    padding: 0 23px 50px;
  }

}

.sidebar__item {
  display: inline-block;
  margin: .4em;

  @include mq(break-tablet) {
    display: block;
    margin: 0;
  }

}

.sidebar__anchor {
  display: inline;
  color: map-get($colours, 'white');
  // border-bottom: 1px solid map-get($colours, 'grey-light');

  &.active {
    border-bottom: 4px solid map-get($colours, 'accent');
  }

  &:hover,
  &:focus {
    color: map-get($colours, 'grey-dark');
  }

  @include mq(break-tablet) {
    display: block;
    margin-bottom: 5px;
    padding: 10px 0 10px 10px;
    border: solid 1px lighten(map-get($colours, 'grey-dark'), 5%);
    border-left: solid 1px map-get($colours, 'accent');
    text-decoration: none;

    .navagation-text {
      border-bottom: solid 1px map-get($colours, 'grey-light');
    }

    &.active {
      border: solid 1px lighten(map-get($colours, 'grey-dark'), 5%);
      border-left: 1px solid map-get($colours, 'accent');
      color: map-get($colours, 'accent');
      // background: lighten(map-get($colours, 'grey-dark'), 15%);

      .navagation-text {
        border-bottom: solid 4px map-get($colours, 'accent');
      }

    }

    &:hover,
    &:focus {
      border-bottom: solid 1px map-get($colours, 'grey-dark');
      color: map-get($colours, 'grey-dark');
      outline: none;
    }

  }

}
