/*
Pagination
----------------------------------- */

.page-navigation {
  margin: 10px 0;
  border-top: 1px solid darken(map-get($colours, 'off-white'), 10%);
  border-bottom: 1px solid darken(map-get($colours, 'off-white'), 10%);
  list-style: none;
}

.button--page-navigation__prev,
.button--page-navigation__next {
  width: 100%;
  text-align: center;

  @include mq(break-phablet) {
    float: left;
    width: 50%;
    padding: 0;
  }

}

.button--page-navigation__next {

  @include mq(break-phablet) {
    float: right;
    text-align: right;
  }

}

.button--page-navigation__prev {

  @include mq(break-phablet) {
    text-align: left;
  }

}

.button--page-navigation__anchor {
  display: block;
  padding: 15px 0;
  border-bottom: 0;

  &:focus {
    outline: none;
  }

}

.button--page-navigation__svg {
  width: 20px;
  height: 16px;
  fill: map-get($colours, 'grey-dark');
}

.page-navigation-label {
  // display: block;
  border-bottom: solid 1px map-get($colours, 'grey-dark');
}

.page-navigation-title {
  border-bottom: solid 1px map-get($colours, 'grey-dark');
}
