/*
Sidebar profile
----------------------------------- */

.profile-image {
  animation: fadeIn 2s forwards;
  width: 180px;
  height: 180px;
  margin: 20px auto;
  border: solid 1px lighten(map-get($colours, 'grey-dark'), 15%);
  border-radius: 50%;
  text-align: center;
}

.profile-image__img {
  width: 160px;
  height: 160px;
  margin-top: 9px;
  border-radius: 50%;
}

.profile-description {
  animation: fadeIn 2s forwards;
  margin-top: 0;
  padding: 10px 0;
  border-top: solid 1px lighten(map-get($colours, 'grey-dark'), 5%);
  border-bottom: solid 1px lighten(map-get($colours, 'grey-dark'), 5%);
  color: map-get($colours, 'grey-light');
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
