/*
Image gallery
----------------------------------- */

.logo-gallery {
  @include grid(break-mobile, 1, 3, $grid-margin: 0);
  // @include grid(break-phablet, 1, 2, $grid-margin: 0);
  // @include grid(break-tablet, 1, 3, $grid-margin: 0);
}

// LOOP
$logos: (barclays, ao, getthelabel, sainsburys, ee, o2, thehutgroup, nintendo, nectar, 3, zavvi, myprotein, tropicskincare, brightstar, creare, elizabetharden);

@each $logo in $logos {

  .image-wrapper--#{$logo} {
    background: url("/assets/img/about/#{$logo}-logo.jpg") center center;
    animation: fadeIn 2s forwards;
    cursor: pointer;
}

  .image-wrapper__image--#{$logo} {

    &:hover,
    &:focus {
      opacity: 0;
      animation: fadeOut 2s forwards;
    }

  }

}
