/*
Social Share
----------------------------------- */

.share-page__anchor {
  display: block;
  margin: 5px 0;

  @include mq(break-phablet) {
    float: left;
    margin-right: 10px;
  }

}

.share-page__twitter {
  @include button (#4099ff);
  border: 0;

  &:hover,
  &:focus {
    color: map-get($colours, 'white');
    background-color: lighten(#4099ff, 20%);
  }

}

.share-page__facebook {
  @include button (#3b5998);
  border: 0;

  &:hover,
  &:focus {
    color: map-get($colours, 'white');
    background-color: lighten(#3b5998, 20%);
  }

}

.share-page__google {
  @include button (#008744);
  border: 0;

  &:hover,
  &:focus {
    color: map-get($colours, 'white');
    background-color: lighten(#008744, 20%);
  }

}
