/*
Menu button
----------------------------------- */

.button--menu {
  position: fixed;
  top: 80px;
  left: 2px;
  z-index: 3;
  width: 40px;
  height: 55px;
  padding: 0;
  border: solid 2px map-get($colours, 'accent');
  border-radius: 0 20px 20px 0;
  border-left: 0;
  color: map-get($colours, 'accent');
  fill: map-get($colours, 'accent');
  background: map-get($colours, 'grey-dark');
  transition: all .3s ease-in-out;

  @include mq(break-tablet) {
    left: 267px;
  }

  svg {
    width: 85%;
    height: 46%;
  }

  &:hover,
  &:focus {
    color: map-get($colours, 'white');
    fill: map-get($colours, 'white');
    background: map-get($colours, 'grey-dark');
  }

}


// Icon
.button--menu--icon {
  opacity: 1;
  transform: rotate(0) translateY(0) translateX(0);
  transform-origin: 20px 10px;
  transition: transform .4s ease-in-out, opacity .2s ease-in-out;
}

.button--menu--icon:nth-of-type(1) {
  transform-origin: 20px 10px;
}

.button--menu--icon:nth-of-type(3) {
  transform-origin: 20px 20px;
}


.button--menu--open {

  @supports (transform: rotate(-45deg) translateY(0) translateX(0)) {

    .button--menu--icon:nth-of-type(2) {
      opacity: 0;
    }

    .button--menu--icon:nth-of-type(1) {
      transform: rotate(-45deg) translateY(0) translateX(0);
    }

    .button--menu--icon:nth-of-type(3) {
      transform: rotate(45deg) translateY(0) translateX(0);
    }

  }

}
